[viewBag]

[staticMenu]
code = "main"
==
<?php
function onStart(){
    $this['user'] = Auth::getUser();
}
?>
==
<div class="main-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="contact-detail">
                    <a href="mailto:{{ configs.email }}"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;<span>{{ configs.email }}</span> &nbsp;&nbsp;</a>
                    <a class="m-hidden" href="tel:{{ configs.phone_number }}"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;<span>{{ configs.phone_number }}</span></a> 
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="signin">
                    {% if user %}
                        <a data-request="onLogout" style= "cursor:pointer;" data-request-data="redirect: '/'">Sign out</a>
                    {% else %}
                        <a href="/login"><i class="fa fa-user" aria-hidden="true"></i>	&nbsp;<span>Login/Register</span></a> | &nbsp;&nbsp; 
                    {% endif %}
                    {% if configs.facebook_url %}
                        <a href="{{ configs.facebook_url}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    {% endif %}
                      &nbsp;&nbsp;
                    {% if configs.twitter_url %}
                        <a href="{{ configs.twitter_url}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="menu-header">
    {% if staticMenu.menuItems %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="{{ configs.site_logo.path }}" class="hp-scert-logo" alt="HPSCERT Logo" id="logo"/><h2 class="head-text">{{ configs.site_name }}</h2></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <!-- <ul class="navbar-nav mx-auto"> 
                {% for item in staticMenu.menuItems %}
                    <li class="nav-item">
                        <a class="nav-link" {% if item.viewBag.isExternal %} target="_blank" {% endif %} href="{{ item.url }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul> -->
            
            <ul class="navbar-nav mx-auto">
                <li><a href="{{ '/'|app }}"><i class="typcn typcn-home"></i></a></li>
                {% for item in staticMenu.menuItems %} 
                <li class="nav-item {{ item.isActive or item.isChildActive ? 'active' : '' }}  {{ item.items ? 'dropdown' : '' }}">
                    <a class="nav-link" title="{{ item.title }}" {% if item.items %} class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#" {% else %} href="{{ item.url }}" {% endif %}>{% if item.items %} {{ item.title }} {% else %} {{ item.title }} {% endif %}</a>
                       
                    {% if item.items %}
                        <ul class="dropdown-menu">
                        {% for subitem in item.items %} 
                            <li {% if subitem.viewBag.isExternal %} target="_blank" {% endif %}>
                                <a class="nav-link" href="{{ subitem.url }}">{{ subitem.title }}</a>
                            </li>
                        {% endfor %} 
                        </ul>
                       {% endif %}
                </li>
                {% endfor %}
                {% if user%}
                 <li class="nav-item dropdown">
                    <a class="nav-link" title="users" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">User</a>
                        <ul class="dropdown-menu">
                            <li target="_blank">
                                <a class="nav-link" href="/dashboard">Dashboard</a>
                                 <a class="nav-link" style= "cursor:pointer;" data-request="onLogout" data-request-data="redirect: '/'">Sign out</a>
                            </li>
                        </ul>
                </li>
               {% endif %}
            </ul>
              
        </div>
        <img src="{{ configs.hp_logo.path }}" width="5%" alt="HPSCERT" class="hp-logo" id="logo"/>
    </nav>
    {% endif %}
</div>