[viewBag]
==
<div class="scert-sidebar">
    <ul>
      <li><a href="/about-us">About SCERT</a></li>
      <li><a href="/cells">Cells</a></li>
      <li><a href="/resource">Resources</a></li>
      <li><a href="/awards">Awards</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/important-links">Importants Links</a></li>
      <li><a href="/rti">RTI</a></li>
      <li><a href="/syllabus">Syllabus</a></li>
      <li><a href="/pre-board-examinations">Pre-Board Examinations</a></li>
      <li><a href="/national-role-play">National role day</a></li>
    </ul>
</div>